.header {
  height: var(--header-height);
  background-image: linear-gradient(0deg, #ff6600, #ff3333);
  border-radius: 4px;
}
.header__navbar--items {
  position: relative;
  display: inline-block;
  font-size: 1.6rem;
  color: var(--white--color);
  margin: 0px 8px 0;
  font-weight: 300;
  cursor: pointer;
}
.header__navbar--link {
  text-decoration: none;
  color: var(--white--color);
}
.header__navbar--list {
  margin: 0px 20px;
  padding-left: 0;
}
.header__navbar {
  height: var(--header-navbar-height);

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__navbar--strong {
  cursor: pointer;
  font-weight: 500;
}
.header__navbar--gach::after {
  position: absolute;
  display: block;
  content: "";
  width: 1px;
  height: 16px;
  background-color: #333;
  top: 20%;
  right: -9px;
}
.header__navbar--icon {
  color: var(--white--color);
  margin: 0px 4px;
  cursor: pointer;
}
.header__navbar--icon:hover,
.header__navbar--strong:hover {
  opacity: 0.8;
}
/* header QR code */

.header__qr {
  animation: fadein ease 0.4s;
  display: none;
  position: absolute;
  left: 0;
  top: calc(100% + 6px);
  width: 156px;
  background-color: var(--white--color);
  padding: 8px;

  border-radius: 4px;
}
.header__qr--img {
  width: 100%;
}
.header__qr--apps {
  display: flex;
  justify-items: center;
  justify-content: space-between;
}
.header__qr--link:last-child {
  margin-right: 8px;
}
.header__qr--img-dowload {
  margin-left: 8px;
  height: 13px;
}
.header__qr--ho:hover .header__qr {
  display: block;
}
.header__qr::before {
  width: 100%;
  height: 20px;
  top: -10px;
  left: 0;
  position: absolute;
  content: "";
  display: block;
}

/* notify */
.header__notify {
  width: 404px;
  background-color: var(--white--color);
  position: absolute;
  top: 125%;
  right: 0;
  border-radius: 2px;
  border: 1px solid #d3d3d3;
  transform-origin: 70% top;
  will-change: opacity, transform;
  animation: headernotifygrowth ease-in-out 0.3s;
  display: none;
}

.header__notify::before {
  position: absolute;
  content: "";
  border-width: 20px 30px;
  border-style: solid;
  border-color: transparent transparent var(--white--color) transparent;
  top: -24px;
  right: 0;
}
.header__notify::after {
  display: block;
  position: absolute;
  content: "";
  width: 100px;
  height: 30px;
  top: -10px;
  right: 0;
}
.header__navbar--items--notify:hover .header__notify {
  display: block;
}
@keyframes headernotifygrowth {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.header__notify--header {
  height: 40px;
  background-color: var(--white-color);
}
.header__notify--header h3 {
  color: #999;
  font-weight: 400;
  margin: 0 0 0 12px;
  font-size: 1.5rem;
  line-height: 40px;
  cursor: default;
}

.header__notify--list {
  padding-left: 0;
}
.header__notify--items {
}
.header__notify--link {
  width: 100%;
  text-decoration: none;
  display: flex;
  padding: 12px;
  background-color: rgba(238, 75, 43, 0.09);
}
.header__notify--items--img {
  width: 48px;
  object-fit: contain;
}
.header__notify--items--info {
  margin-left: 12px;
  line-height: 16px;
}
.header__notify--items--info--name {
  font-weight: 400;
  font-size: 14px;
  color: var(--black-color);
  display: block;
  line-height: 1.8rem;
}
.header__notify--items-info--description {
  color: #333;
  font-size: 12px;
  display: block;
}
.header__notify--items--viewed:hover {
  background-color: #e0d5d5;
  transition: 0.3s all;
}
.header__notify--footer {
  text-align: center;
  padding: 10px 0;
}
.header__notify--footer--btn {
  text-decoration: none;
  font-weight: 400;
  color: #333;
}
.header__notify--footer--btn:hover {
  opacity: 0.8;
}
/* form */
.modal__overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
}
.auth-form {
  width: 500px;
}
.auth-form__container {
  padding: 0 32px;
  margin-bottom: 8px;
}

.auth-form__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
}
.auth-form__header {
  font-size: 2.2rem;
  font-weight: 400;
  color: #333;
}
.auth__switch-btn {
  font-size: 1.6rem;
  color: #ff3333;
  font-weight: 500;
  cursor: pointer;
}

.auth-form__input {
  width: 100%;
  height: 40px;
  margin-top: 16px;
  padding: 0 12px;
  border-radius: 3px;
  border-color: #dbdbdb;
  outline: none;
}
.auth-form__input:focus {
  border-color: aqua;
}
.auth-form__aside {
  margin-top: 18px;
}
.auth-form__policy-text {
  padding: 0 12px;

  text-align: center;
  font-size: 1.2rem;
  line-height: 15px;
}
.auth-form__policy-link {
  text-decoration: none;
  color: #ff6600;
}
.auth-form__controls {
  margin-top: 80px;
}
.btn.btn--primary {
  color: var(--white--color);
  background-color: #ff6600;
}
.auth-form__controls {
  display: flex;
  justify-content: right;
}
.btn--back {
  margin-right: 8px;
}
.auth-form__socials {
  display: flex;
  justify-content: space-around;
  padding: 15px 0;
  background-color: #999;
}
.btn--size-s {
  height: 30px;
  font-size: 12px;
}
.btn--with-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 8px;
}
.auth-form__socials--icon {
  font-size: 1.8rem;
}
.auth-form__socials--facebook {
  background-color: rgb(14, 55, 165);
  color: var(--white--color);
}
.auth-form__socials--facebook.auth-form__socials--icon {
  color: #fff;
}
.auth-form__socials--title {
  margin: 0 4px;
}
.auth-form__socials--icon {
  margin-left: 5px;
}
.auth-form__socials--google {
  background-color: var(--white--color);
}
.auth-form__socials--SMS.btn--with-icon {
  font-weight: 400;
  background-color: rgb(139, 235, 176);
}
/*  */
.auth__form--help {
  display: flex;
  justify-content: right;
}
.auth__form--link {
  font-size: 18px;
  text-decoration: none;
  margin-left: 27px;
  cursor: pointer;
  border-left: 1px solid #d3d3d3;
}
.auth__form--link:first-child {
  position: relative;
  color: #ff6600;
}
.auth__form--link:last-child {
  color: #999;
}
.auth__form--link:first-child::after {
  position: absolute;
  color: #ff6600;
  display: block;
  content: "";
  height: 20px;
  width: 1px;
  background-color: #ff3333;
  top: 0px;
  right: -16px;
}
/* header-with-search */
.header-with-search {
  height: var(--header-search-height);
}
.header__logo {
  width: 200px;
}
.header__logo--img {
  width: 150px;
}
.header-with-search {
  margin: 0 28px;
  display: flex;
  align-items: center;
}
.header__sreach {
  background-color: var(--white--color);
  height: 40px;
  flex: 1;
  border-radius: 2px;
  display: flex;
  align-items: center;
}

.header__cart {
  display: flex;
  justify-content: center;
  align-items: end;
  height: 40px;
  width: 150px;
  position: relative;
}
.header__cart--notify {
  position: absolute;
  right: 35%;
  top: 135%;
  width: 240%;

  background-color: var(--white--color);
  border-radius: 3px;
  display: flex;
  align-items: end;
  justify-content: center;
  box-shadow: 2px 3px 10px 0 #333;
  z-index: 1;
  display: none;
  transform-origin: 95% top;
  animation: notify_cart ease-in 0.1s;
  cursor: default;
}
.header__cart:hover .header__cart--notify {
  display: flex;
}
@keyframes notify_cart {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
/* notify cart */
.header__cart--notify::after {
  position: absolute;
  content: "";
  border-style: solid;
  border-color: transparent transparent var(--white--color) transparent;
  border-width: 30px 20px;
  top: -44px;
  right: 0;
}
.header__cart--notify::before {
  content: "";
  width: 90px;
  height: 50px;
  position: absolute;

  top: -24%;
  right: 0;
}
.header__cart--icon {
  font-size: 28px;
  color: var(--white--color);
}
/* history
 */
.header__search--input-wrap {
  flex: 1;
  position: relative;
  height: 100%;
  display: flex;
}
.header__search--history {
  display: none;
  background-color: #fff;
  position: absolute;
  left: 0;
  top: 110%;

  width: calc(100% - 16px);
  border-radius: 2px;
  box-shadow: 3px 3px 10px #333;
}
.header__search--list,
.header__search--items {
  text-decoration: none;
  padding: 0;
}
.header__search--list {
  margin-bottom: 0;
  cursor: pointer;
}
.header__search--items {
  padding: 14px 5px;
  font-weight: 400;
}
.header__search--items:hover {
  background-color: red;
}
.header__search--input:focus ~ .header__search--history {
  display: block;
}

.header__search--items--content {
  text-decoration: none;
  color: #000;
  font-size: 15px;
}
.header__search--heading {
  font-size: 18px;
  color: #999;
  font-weight: 400;
  margin: 0;
  padding: 0 5px;
}

.header__search--input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 2rem;
  color: #333;
  padding: 0 8px;
  border-radius: 2px;
}
.header__sreach--select {
  border-left: 1px solid #999;
  padding-left: 16px;
  position: relative;
  cursor: pointer;
}
.header__sreach--select--label {
  font-size: 15px;
  font-weight: 400;
}
.header__sreach-select-icon {
  font-size: 1.5rem;
  color: #999;
  margin: 0 13px;
  position: relative;
  top: 1px;
}
.header__search--btn {
  height: calc(100% - 10px);
  padding: 0 20px;
  margin: 0 5px;
  border: none;
  border-radius: 3px;
  background-color: #ff6600;
  color: var(--white--color);
  cursor: pointer;
  font-size: 15px;
}
.header__search--btn:hover {
  opacity: 0.6;
}
.header__sreach-option {
  width: 160px;
  background-color: #fff;
  border-radius: 4px;
  padding: 0;
  top: 23px;
  right: 0;
  text-align: right;
  position: absolute;
  list-style: none;
  box-shadow: 3px 3px 6px #333;
  cursor: pointer;
  display: none;
  animation: option ease-in 0.2s;
  transform-origin: 70% top;
}
.header__sreach-option--items {
  padding: 10px 0;
  font-size: 2rem;
}
.header__sreach-option-icon {
  color: #ff6600;
  margin: 0 10px;
}
.header__sreach-option--items:last-child {
  padding: 0;
  padding-bottom: 10px;
}
.header__sreach-option--items:hover {
  background-color: aliceblue;
}
.header__sreach--select:hover .header__sreach-option {
  display: inline-block;
}
@keyframes option {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.header__sreach-option--items::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 50%;
  top: -20px;
  right: 0;
}
